@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500&family=Lora:wght@400;500&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-clr: #4a5c6c;
  --bg-clr: #f2f4fc;
  --border-clr: rgb(156, 176, 193);
}
html {
  font-size: 80.5%;
}
body {
  background-color: var(--bg-clr);
}
h2{
  font-family: "Lora", serif;
  color: var(--text-clr);
  font-size: 2rem;
  transition: all 0.5s linear;
}

a {
  text-decoration: none;
}
a {
  text-align: center;
  display: flex;
  margin-left: 20%;
width:50%;
flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding: 1.2rem .5rem;
  /* background-color: var(--text-clr); */
  color: var(--text-clr);
  border: 0.2rem solid var(--text-clr);
  font-size: 1.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s linear;
}
a:hover {
  background-color: var(--text-clr);
  color: var(--bg-clr);
}


img:hover  {
  transform: scale(1.1);
}
img {
  
  min-width: 10rem;
  max-height: 30rem;
  margin: 1rem 0;
  border-radius: 1rem;
  transition: all 0.3s linear;
}
  .app {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .movie-item, .favorite-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .movie-item img {
    width: 100px;
    height: 150px;
  }
  
  .movie-list, .favorite-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .movie-item img {
      width: 80px;
      height: 120px;
    }
  }
  
  @media (max-width: 480px) {
    .movie-item img {
      width: 60px;
      height: 90px;
    }
  }
  
